@model Product
<div class="item">
    <div class="image-section">
        <img src="@Model.ImageUrl"
             alt="" />
        <div class="menu">
            <div class="icons">
                <button class="link">
                    <i class="fa-regular fa-code-compare"></i>
                </button>
                <button class="link">
                    <i class="fa-regular fa-heart"></i>
                </button>
                <button class="link">
                    <i class="fa-regular fa-bag-shopping"></i>
                </button>
            </div>
            <a class="btn-theme" asp-action="ProductDetails" asp-controller="Product" asp-route-id="@Model.Id">
                QUICK VIEW
            </a>
        </div>
    </div>
    <div class="body-section">
        
        <div class="category">@Model.Category.CategoryName</div>
        <div class="name">@Model.Title</div>    
        <partial name="_StarRatingPartial" model="@Model.StarRating" />

        <div class="price">@Model.Price.ToString("0") SEK</div>
    </div>
</div>